@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&family=Volkhov:wght@400;700&display=swap');

html {
    color: #2a2a2a;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    color: #10798F;
    font-family: "Volkhov", serif;
    font-weight: 400;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    color: #2a2a2a;
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

p {
    line-height: 1.5;
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
}

a.button {
    background-color: #ff912a;
    color: white;
    text-decoration: none;
    display: block;
    border-radius: 64px;
    padding: 0.5rem 1.1rem;
    width: max-content;
}

a.button:hover {
    background-color: #ffa554;
}