@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&family=Volkhov:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply text-gray-800;
    font-family: "Rubik", sans-serif;
    font-size: 17px;
}

.main-container {
    min-height: 90vh;
}

body {
    @apply bg-gray-50;
}

h1,
h2,
h3,
h4 {
    font-family: "Volkhov", serif;
    font-weight: 400;
}

h1 {
    @apply text-3xl md:text-4xl text-primary mb-4;
}

h2 {
    @apply text-2xl md:text-4xl text-primary mb-4;
}

h3 {
    @apply text-xl md:text-2xl text-primary;
}

h4 {
    @apply text-base text-gray-700;
}

p {
    line-height: 1.5;
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
}

a {
    color: inherit;
    text-underline-offset: 3px;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 3px;
    text-decoration-color: #10798F;
}

a:hover {
    text-decoration: none;
}

.button {
    @apply bg-action rounded-full px-4 py-1 text-lg text-white transition duration-150 ease-in-out;
}

.button:hover {
    @apply shadow transform scale-105;
}

blockquote {
    color: #10798F;
    font-style: italic;
}