.container {
    width: 60vw;
    margin: 0 auto;
}

.article {
    margin-bottom: 4rem;
    display: flex;
}

.image-container {
    margin-right: 2rem;
    margin-bottom: 2rem;
}

@media(max-width: 700px) {
    .container { 
        width: 90vw;
    }

    .article {
        flex-wrap: wrap;
    }

    .image-container img {
        width: 90vw;
    }
}