.container {
    max-width: 55vw;
    margin: 0 auto;

}

.article {
    margin-bottom: 4rem;
    display: flex;
}

.card {
    display: block;
    margin: 1rem;
}

.card main {
    color: black;
}

.image-container {
    margin-right: 2rem;
    margin-bottom: 2rem;
}