.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2rem;
    padding: 1.2rem 1.6rem;
    background-color: #10798F;
    color: #ffffff;
}

a.social {
    color: #ffffff;
    display: block;
    position: relative;
    text-align: center;
    font-size: 2rem;
}

a.social:hover {
    color: #dddddd;
}

div.socials {
    display: flex;
    justify-content: right;
    gap: 1.6rem;
}

div.watermark {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 768px) {
    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-row-gap: 1rem;
     }
     div.socials {
         justify-content: center;

     }
}