.site-header {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow-x: auto;
    margin: 0 auto;
    padding: 1.1rem 0;
    box-shadow: 0px 3px 0px #cccccc;
}

.site-header nav {
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
}

.site-header nav a {
    display: block;
    width: max-content;
    font-size: 1.1rem;
    margin-right: 2rem;
    text-decoration: none;
    color: #212121;
}

.site-header nav a:hover {
    color: #10798F;
}

.site-header aside {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 2rem;
}

.site-title {
    font-weight: bold;
    font-size: 1.5rem;
}

a.button {
    background-color: #FF912A;
    color: white;
    text-decoration: none;
    display: block;
    border-radius: 64px;
    padding: 0.5rem 1.1rem;
}