.container {
    position: relative;
    width: 100%;
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slide {
    position: relative;
    width: 100%;
    flex-shrink: 0;
    height: 100%;
    scroll-snap-align: start;
}

.hero-overlay {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 30%;
    padding: 2rem;
    word-wrap: break-word;
}

.hero-overlay h3 {
    color: #2a2a2a;
}

.sliderlinks {
    margin: 0 auto;
    text-align: center;
}

.sliderlinks > a {
    display: inline-flex;
    position: relative;
    font-size: 40px;
    text-decoration: none;
    justify-content: center;
}